<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{title}}</title>
  {{>header}}
</head>

<body>

  <div class="row text-center pb-5 pt-3">
    <div class="col-md-12 text-center">
      <div class="lc-block"><span editable="inline" class="small mt-4 d-block">CORE CONTRUBUTERS TO SIMIT THE SUSTAIN
          <img src="/static/images/logo.png" alt="" width="60" height="50" />
        </span>
        <h2 editable="inline" class="display-4 mb-0"><b>Our Team</b></h2>
        <p editable="inline"> We are a team of three Seneca College students passionate about sustainability <br />and
          we decided to highlight
          the importance of urgent action needed to address<br /> the growing pollution problem created by the garment
          industry.</p>
      </div><!-- /lc-block -->
    </div>
  </div>

  <div class="team-members">
    <div class="row row-cols-2 row-cols-md-4 g-2 d-flex justify-content-center">
      <div class="col">
        <div class="card" style="width: 20rem; ">
          <img src="/static/images/samina.jpeg" class="card-img-top" alt="researcher" />
          <div class="card-body">
            <h5 class="card-title">Samina Rahman Purba</h5>
            <p class="card-text">Research and Report</p>
            <span class="d-flex justify-content-center" style="color:grey; ">
              <a href="https://www.linkedin.com/in/samina-rahman-purba-1006171b6/" target="_blank"
                class="me-4 text-reset">
                <i class="fab fa-linkedin fa-2x"></i>
              </a>
              <a href="https://github.com/saminarp" target="_blank" class="me-4 text-reset">
                <i class="fab fa-github fa-2x"></i>
              </a>
              <a href="mailto:srpurba@myseneca.ca" target="_blank">
                <i class="fa-solid fa-envelope fa-2x"></i>
              </a>
            </span>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 20rem; ">
          <img src="/static/images/batuhan.jpeg" class="card-img-top" alt="programmer" />
          <div class="card-body">
            <h5 class="card-title">Batuhan Ipci</h5>
            <p class="card-text">Web Developer</p>
            <span class="d-flex justify-content-center" style="color:grey; ">
              <a href="https://www.linkedin.com/in/batuhan-ipci-68a8501b7/" target="_blank" class="me-4 text-reset">
                <i class="fab fa-linkedin fa-2x"></i>
              </a>
              <a href="https://github.com/batunpc" target="_blank" class="me-4 text-reset">
                <i class="fab fa-github fa-2x"></i>
              </a>
              <a href="mailto:bipci@myseneca.ca" target="_blank">
                <i class="fa-solid fa-envelope fa-2x"></i>
              </a>
            </span>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="width: 20rem; ">
          <img src="/static/images/yeon.jpeg" class="card-img-top" alt="editor" />
          <div class="card-body">
            <h5 class="card-title">Yeonkwan Jeong </h5>
            <p class="card-text">Video Editor</p>
            <span class="d-flex justify-content-center" style="color:grey; ">
              <a href="https://www.linkedin.com/in/%E7%84%B6%E5%AF%9B-%E9%84%AD-3aa10a1a0/" target="_blank"
                class="me-4 text-reset">
                <i class="fab fa-linkedin fa-2x"></i>
              </a>
              <a href="https://github.com/zcoder83/" target="_blank" class="me-4 text-reset">
                <i class="fab fa-github fa-2x"></i>
              </a>
              <a href="mailto:yjeong22@myseneca.ca" target="_blank">
                <i class="fa-solid fa-envelope fa-2x"></i>
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>