<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    {{>header}}
  </head>
  <body>

<div class="team-members">
<div class="row row-cols-1 row-cols-md-4 g-2 d-flex justify-content-center">
    <div class="col">
    <div class="card" style="width: 18rem; ">
        <img src="/static/images/samina.jpeg" class="card-img-top" alt="researcher" />
      <div class="card-body">
        <h5 class="card-title">Samina Rahman Purba</h5>
        <p class="card-text">Research and Report</p>
        <a  href="mailto:srpurba@myseneca.ca" class="btn btn-primary">Email me</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem; ">
        <img src="/static/images/batuhan.jpeg" class="card-img-top" alt="programmer" />
      <div class="card-body">
        <h5 class="card-title">Batuhan Ipci</h5>
        <p class="card-text">Developer</p>
        <a  href="mailto:bipci@myseneca.ca" class="btn btn-primary">Email me</a>
      </div>
    </div>
  </div>



    <div class="col">
    <div class="card" style="width: 18rem; ">
        <img src="/static/images/yeon.jpeg" class="card-img-top" alt="editor" />
      <div class="card-body">
        <h5 class="card-title">Yeonkwan Jeong </h5>
        <p class="card-text">Video Editor</p>
        <a  href="mailto:yjeong22@myseneca.ca" class="btn btn-primary">Email me</a>
      </div>
    </div>
  </div>
</div>
</div>

  </body>
</html>