<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    {{>header}}
  </head>
  <body>

    <div
      class="d-flex container-fluid"
      lc-helper="background"
      style="height: 40vh; background: rgba(0, 0, 0, 0) url(&quot;https://images.unsplash.com/photo-1559827291-72ee739d0d9a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80;) no-repeat scroll center center / cover; --darkreader-inline-bgcolor: rgba(0, 0, 0, 0);"
      data-darkreader-inline-bgcolor=""
    >
    </div>
    <div class="container p-5 bg-light" style="margin-top:-100px">
      <div class="row">
        <div class="col-md-4 text-center align-self-center">
          <div class="lc-block border-end border-2">
            <div editable="rich">
              <p class="display-4 text-secondary">WHY?
                <i class="fa-solid fa-spa" style="color:green"></i>
              </p>
            </div>
          </div><!-- /lc-block -->
        </div><!-- /col -->
        <div class="col-md-8">
          <div class="lc-block">
            <div editable="rich">
              <p class="display-4">Connecting To Sustainable Businesses</p>
            </div>
          </div><!-- /lc-block -->
        </div><!-- /col -->
      </div>
      <div class="row">
        <div class="col-md-9 offset-md-1">
          <div class="lc-block mt-5">
            <div editable="rich">

              <p class="lead text-secondary">
                We aim to combine the power of technology and sustainability to
                bring together interested businesses, suppliers, manufacturers,
                and consumers to become more conscious about their clothing
                purchases.
              </p>
              <p class="lead text-secondary">
                To make sure all products sustainably produced from the source
                and saved working conditions where guaranteed for everyone
                involved.&nbsp;</p>
            </div>
          </div><!-- /lc-block -->
        </div><!-- /col -->
      </div>
    </div>
    <br /><br />
  </body>
</html>