<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{title}}</title>
  {{>header}}

</head>

<body>
  {{! HERO }}

  <div class="position-relative overflow-hidden">
    <div class="d-flex min-vh-100" lc-helper="video-bg">
      <video style="z-index:1;object-fit: cover; object-position: 50% 50%;" class="position-absolute w-100 min-vh-100"
        autoplay="" preload="" muted="" loop="" playsinline="">
        <!-- adjust object-position to tweak cropping on mobile -->
        <source
          src="/static/images/flower.mp4"
          type="video/mp4">
      </video>
      <div style="z-index:1" class="align-self-center text-center text-light col-md-8 offset-md-2">
        <div class="lc-block mb-4">
          <div editable="rich">
            <h1 class="display-4 fw-bolder">Connecting Sustainable Businesses</h1>
          </div>
        </div>

        <div class="lc-block">
          <div editable="rich">
            <p class="lead"> We aim to combine the power of technology and sustainability to bring together interested
              businesses, suppliers, manufacturers, and consumers to become more conscious about their clothing
              purchases. </p>
            <p class="lead">To make sure all products get sustainably produced from the source in safe working
              conditions guaranteed for everyone involved.
            </p>
          </div>
        </div>

        <div class="lc-block">
          <svg onclick="$(this.closest('section').nextElementSibling.scrollIntoView({ behavior: 'smooth'  });"
            width="4em" height="4em" viewBox="0 0 16 16" lc-helper="svg-icon" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg" style="--darkreader-inline-fill: currentColor;"
            data-darkreader-inline-fill="">
            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
            <path fill-rule="evenodd"
              d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z">
            </path>
          </svg>
          <script async="" src="https://unpkg.com/smoothscroll-polyfill/dist/smoothscroll.min.js"></script>
        </div>
      </div>
    </div>
  </div>


  {{! HERO }}
  <br />
  <div class="container">
    <div class="container-fluid p-0 overflow-hidden">
      <div class="row g-0">
        <div lc-helper="background" class="col-lg-6 order-lg-2"
          style="min-height: 45vh; background-size: cover; background-position: center; background-image: linear-gradient(rgba(21, 19, 19, 0.47), rgba(22, 19, 19, 0.601)), url('https://images.unsplash.com/photo-1606901302392-ca613ab6abb7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');">

        </div>
        <div class="col-lg-6 order-lg-1 my-auto px-5 py-5">
          <div class="lc-block">
            <div editable="rich">
              <h1>Monsters in our closets</h1>
              <p class="lead">
                The garment industry contributes to<mark>
                  2 – 8 % of the world’s pollution.</mark>
                Across the value chain of the industry, in around 300 million
                people are employed worldwide, meaning that a lot of people’s
                livelihoods depend on this industry.<br />
                Moreover, underutilized clothes result around $100 billion
                worth of material losses and is the cause of 9% of the annual
                microplastic release into the oceans
                <i>(UN Alliance of Sustainable Fashion).</i>

                There are inefficiencies in the value chain of the clothing
                industry in how products are sourced and manufactured. There
                is no singular comprehensive marketplace or platform in the
                market that allows sustainable producers and suppliers to find
                each other easily online and form partnerships or use each
                other’s services.

              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row g-0">
        <div lc-helper="background" class="col-lg-6"
          style="min-height: 45vh; background-size: cover;background-position: center; background-image: url('https://images.unsplash.com/photo-1534709153997-d6659469f951?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80');">
        </div>
        <div class="col-lg-6 my-auto px-5 py-5">
          <div class="lc-block">
            <div editable="rich">
              <h1>Let's fix it!</h1>
              <p class="lead">We have decided to create an
                <mark>online platform to connect sustainable producers and
                  suppliers</mark>
                together in the clothing industry to sustainably produce their
                products from the source. Having a website that allows a
                business to directly connect with a sustainable supplier makes
                the process faster and easier for everyone involved.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row g-0">
        <div lc-helper="background" class="col-lg-6 order-lg-2"
          style="min-height: 45vh; background-size: cover; background-position: center; background-image: url('https://images.unsplash.com/photo-1567480503709-66518a660785?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1095&q=80');">
        </div>

        <div class="col-lg-6 order-lg-1 my-auto px-5 py-5">
          <div class="lc-block">
            <div editable="rich">
              <h1>Undoubtedly feasible </h1>
              <p class="lead">
                As the world becomes more sustainability conscious, and
                consumers become more aware of their carbon footprint, the
                need for more sustainable solutions will grow. A need for an
                integrated platform that is built on
                <mark>sustainability being the core focus </mark>will become
                important. The platform can be marketed to businesses and
                business schools as a lot of aspiring entrepreneurs come out
                of business schools and colleges. 
              </p>
              <ul class="list-group">

                <li class="list-group-item list-group-item-success"><i class="fa-solid fa-arrow-right"></i>
                  An easier process of finding sustainable suppliers means
                  that businesses will be more inclined to find sustainable
                  partners to get right into action.</li>
                <li class="list-group-item list-group-item-primary"><i class="fa-solid fa-arrow-right"></i>
                  There are vast possibilities to scale the platform to become
                  an online growing sustainable marketplace.</li>
                <li class="list-group-item list-group-item-info"><i class="fa-solid fa-arrow-right"></i>
                  As more demand for sustainable products rise, the more
                  others will be inclined to join in.</li>
                <li class="list-group-item list-group-item-dark"><i class="fa-solid fa-arrow-right"></i>
                  The platform can double as an education platform for
                  learners
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <br />

    <div class="d-flex justify-content-center">
      <figure class="hover-card" style="--bg-image-url: url();">
        <img class="hover-card__image" alt="Alt text here"
          src="https://images.pexels.com/photos/2249290/pexels-photo-2249290.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260">
        <figcaption  class="hover-card__info"> <a href="/stories">Sustainable Business Practices  <img
                src="/static/images/logo.png"
                alt=""
                width="120"
                height="110"
              /></a> 
        </figcaption>

      </figure>

      </div>

    </div>
  </div>
</body>

</html>