<html lang="en">

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{title}}</title>
  {{>header}}

</head>

<body>
  <div class="container">
    <div class="d-flex container-fluid" lc-helper="background"
      style="height: 40vh; background: rgba(0, 0, 0, 0) url(https://images.unsplash.com/photo-1462556791646-c201b8241a94?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2065&q=80;) no-repeat scroll center center / cover; --darkreader-inline-bgcolor: rgba(0, 0, 0, 0);"
      data-darkreader-inline-bgcolor="">
    </div>
    <div class="container p-5 bg-light" style="margin-top:-100px; background-color:#35393b">
      <div class="row">
        <div class="col-md-12 text-center align-self-center">
          <div class="col-md-20">
            <div class="lc-block">
              <div editable="rich">
                <p class="display-4">Next Steps</p>
              </div>
            </div><!-- /lc-block -->
          </div><!-- /col -->
        </div><!-- /col -->
      </div>
    </div>
    <br />
    <div class="card " >
      <div class="card-header">
        Our Vision
      </div>
      <div class="card-body">
        <h5 class="card-title">Looking Forward</h5>
        <p class="card-text">Our hope for this platform is that over time we can have hundreds and thousands of sustain
          businesses come together to form meaningful partnerships. This doesn’t have to be just clothing, but can
          expand into home décor, and health care too. </p>
        <p class="card-text">
          Our platform is all about connecting sustainable businesses for ultimately achieving the UNSDG goal 12, 17 and
          11. Our hope is to make sustainability the norm and standard, and not something that is optional to have as
          the environmental damage is too powerful to ignore.
        </p>
      </div>
    </div>
  </div>

</body>

</html>