<html lang="en">

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{title}}</title>
  {{>header}}
</head>

<body>
  <div class="d-flex container-fluid" lc-helper="background"
    style="height: 50vh; background: rgba(0, 0, 0, 0) url(https://images.unsplash.com/photo-1603782637810-95d06f1d5663?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80;) no-repeat scroll center center / cover; --darkreader-inline-bgcolor: rgba(0, 0, 0, 0);"
    data-darkreader-inline-bgcolor="">
  </div>
  <div class="container p-5 bg-light" style="margin-top:-100px; background-color:#35393b">
    <div class="row">
      <div class="col-md-12 text-center align-self-center">
        <div class="col-md-20">
          <div class="lc-block">
            <div editable="rich">
              <p class="display-4">Find Sustainable Producers</p>
            </div>
          </div><!-- /lc-block -->
        </div><!-- /col -->
      </div><!-- /col -->
    </div>
  </div>
  <br> 

    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="card">
              <div class="img-card">
                <img
                  src="https://images.unsplash.com/photo-1576995853123-5a10305d93c0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" />
              </div>
              <div class="card-content">
                <h4 class="card-title">
                  We produce denim from recycled cotton
                </h4>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="card">
              <div class="img-card">
                <img
                  src="https://images.unsplash.com/photo-1544441893-675973e31985?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" />
              </div>
              <div class="card-content">
                <h4 class="card-title">
                  Circular fashion recycling program
                </h4>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="card">
              <div class="img-card">
                <img src="https://images.unsplash.com/photo-1523348837708-15d4a09cfac2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" />
              </div>
              <div class="card-content">
                <h4 class="card-title">
                Turning grape skin into vegan leather
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<br><br>
</body>

</html>