<html lang="en">
  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
      {{>header}}
  </head>
  <body>
      <div class="d-flex container-fluid" lc-helper="background"
    style="height: 40vh; background: rgba(0, 0, 0, 0) url(&quot;https://images.unsplash.com/photo-1559827291-72ee739d0d9a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80;) no-repeat scroll center center / cover; --darkreader-inline-bgcolor: rgba(0, 0, 0, 0);"
    data-darkreader-inline-bgcolor="">
  </div>
  <div class="container p-5 bg-light" style="margin-top:-100px; background-color:#35393b">
    <div class="row">
      <div class="col-md-4 text-center align-self-center">
        <div class="lc-block border-end border-2">
          <div editable="rich">
            <p class="display-4 text-secondary">HOW?
              <i class="fa-solid fa-spa" style="color:green"></i>
            </p>
          </div>
        </div><!-- /lc-block -->
      </div><!-- /col -->
      <div class="col-md-8">
        <div class="lc-block">
          <div editable="rich">
            <p class="display-4">Sustainable Case Studies</p>
          </div>
        </div><!-- /lc-block -->
      </div><!-- /col -->
    </div>

  </div>

    <br><br>
    <div class="d-flex justify-content-center">
      <div class="card text-white bg-success mb-3" style="max-width: 77rem;">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="/static/images/cotton.jpg"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h4 class="card-title">Kotn  </h4>
              <figure
                class="bg-dark p-3 rounded"
                style="border-left: .25rem solid rgb(12, 99, 7);"
              >
                <blockquote class="blockquote pb-2">
                  <p>
                    “Many farms lack the knowledge, resources, or motivation to
                    become 100% certified organic. Our belief is that the future
                    of cotton, and the industry as a whole, rests on its ability
                    to mobilize and lead the way in agriculture and
                    sustainability. For this reason, we’ve embarked on a project
                    to ensure 100% of our natural fibres are certified organic
                    within the next five years. However, instead of simply
                    neglecting the farms that don’t already have these practices
                    in place, we’ll be working with each farm to set up these
                    systems, so they too can participate in a more sustainable
                    future.”
                  </p>
                </blockquote>
                <figcaption class="blockquote-footer mb-0 font-italic">
                  (Kotn, 2022)
                </figcaption>
              </figure>
              <p class="card-text">
                <i class="fa-solid fa-arrow-right"></i>
                Kotn is a Toronto based clothing business that is helping their
                Egyptian cotton supplier to make the switch to organic and
                sustainable within the next five years. Such statements on their
                website shows great promise that it is possible for businesses
                to take the right approach and with the right mindset it is
                possible to become sustainable within a realistic timeframe.
                Kotn also directly sources from the farms to produce their
                products in a process known as direct trade cutting the
                middlemen out.
                <br />
                <br />
                <i class="fa-solid fa-arrow-right"></i>
                They are educating and empowering the farm to become independent
                and sustainable. Imagine the possibilities if more such
                businesses and producers found each other and took the right
                initiatives?
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  </body>
</html>