<html lang="en">

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{title}}</title>
  {{>header}}
</head>

<body>
  <div class="d-flex container-fluid" lc-helper="background"
    style="height: 50vh; background: rgba(0, 0, 0, 0) url(https://images.pexels.com/photos/235925/pexels-photo-235925.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260;) no-repeat scroll center center / cover; --darkreader-inline-bgcolor: rgba(0, 0, 0, 0);"
    data-darkreader-inline-bgcolor="">
  </div>
  <div class="container p-5 bg-light" style="margin-top:-100px; background-color:#35393b">
    <div class="row">
      <div class="col-md-12 text-center align-self-center">
        <div class="col-md-20">
          <div class="lc-block">
            <div editable="rich">
              <p class="display-4">Find Sustainable Suppliers</p>
            </div>
          </div><!-- /lc-block -->
        </div><!-- /col -->
      </div><!-- /col -->
    </div>
  </div>
  <br> 

    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="card">
              <div class="img-card">
                <img
                  src="https://images.pexels.com/photos/2062061/pexels-photo-2062061.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" />
              </div>
              <div class="card-content">
                <h4 class="card-title">
                  We supply organic yarns with net zero emissions
                </h4>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="card">
              <div class="img-card">
                <img
                  src="https://images.pexels.com/photos/6850582/pexels-photo-6850582.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" />
              </div>
              <div class="card-content">
                <h4 class="card-title">
                  Organic Cotton Farm Supplying Direct to you
                </h4>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="card">
              <div class="img-card">
                <img src="https://images.pexels.com/photos/2170473/pexels-photo-2170473.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" />
              </div>
              <div class="card-content">
                <h4 class="card-title">
                We turn plastic bottles from the ocean into fabric
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<br><br>
</body>

</html>